body {
    margin: 0;
    background-color: #b60b0b;
  }
  
.heder{
    display: flex;
    flex-direction: row;
    background-color: #d02410;
    height: 13vh;
    color: #f4f4f4;
    font-family: Eb Garamond, sans-serif;
}


.heder > p > a{
    
    margin-top: 2vh;
    margin-left: 2vh;
    
    font-size: 4vh;

    color: #f4f4f4;
    text-decoration: none;
}
.heder ul{
    margin-top: 3vh;
    margin-right: 60%;
    display: flex; 
    flex-direction: row;
    flex-grow: 1;
    justify-content: right;
    width: auto;
}
.heder li{
    font-size: 2vh;
    margin-left: 10%;
    
}

li{
    list-style: none; 
}
.heder ul > li > a{
    
    text-decoration: none;
    color: #f4f4f4;
    font-size: 20px;
    transition: all 0.1s;
    border-width: 0px;

    
}
.heder ul > li > a:hover{
    
    border-bottom: #f4f4f4;
    border-bottom-style: dotted;
    border-width: 2px;
    transition: all 0.1s;
}
/*Hero image*/
.hero-image{
    background-image: url("../img/herp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:70%;
    height: 60vh;
}
.hero-image div{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    height: 60vh;
    align-items: center;
    flex-direction: column;
}
.hero-image h1{
    font-size: 10vh;
    margin-bottom: 10px;
    color: #f4f4f4;
    font-family: Quicksand, "comic-sans";
}
.hero-image p{
    margin-top: 10px;
    font-size: 5vh;
    color: #f4f4f4;
    font-family: Lobster, "comic-sans";
}

/*Form stuff*/
.table{
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding-top: 3%;
}
.table form{
    border: red;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    border-width: 5px;
    background-color: #d02410;
}
.table form>section{
    display: flex;
    flex-direction: column;
}
.table textarea{
    border: dashed;
    color: #f4f4f4;

    resize: none;
    width: 98%;
    height: 10vh;

    background-color: rgba(0, 0, 0, 0.5);
    font-size: 110%;
    
    margin-top: 3%;
    border-radius: 10px;
}
#table-p{
    text-align: center;
    color: #f4f4f4;
    font-size: 4vh;
}

.table label, h3, #table-p, .table select , #submit{
    color: #f4f4f4;
    font-family: Quicksand, "comic-sans";
}
.table h3{
    font-size: 4vh;
}
.table label{
    padding-bottom: 5px;
    font-size:2vh;
}


#submit{
    width: 40%;
    margin: 2% 30% 2% 30%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

#submit:active{
    background-color: rgba(0, 0, 0, 0.7);
}

.table input:not(#submit){
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 0;
    border-bottom: #f4f4f4;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    margin-bottom: 8px;

    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 110%;

    
    color: #f4f4f4;
    border-radius: 10px;
}

.table input:focus:not(#submit){
    
    outline: none;
    border-style: none;
    border-bottom-style: solid;
    
}
.table textarea:focus {
    padding-top: 5px;
    padding-left: 5px;
    outline: none;
    border-style: none;
    border-bottom-style: solid;
}

.table select{
    background-color: rgba(0, 0, 0, 0.5);
    border-style:dashed;
    border-top-style: none;
    padding: 1%;
    font-size: 120%;
    
}
.table select:first-of-type{
    border-top-style: dashed;
}

.table select:focus{
    border-style:solid;
    border-top-style: none;
    
    font-style: normal;
}

.table select:first-of-type:focus{
    border-style:solid;
    border-top-style: dashed;
    
}

